<li class="<%= content_type %>">
  <div class="author">
    <%= image_tag(favorite.user_profile_image_url) %>
    <span>
      <span class="name"><%= favorite.user_name %></span><br>
      <%= link_to("@#{favorite.user_screen_name}", favorite.user_url, class: 'user') %>
    </span>
  </div>

  <%= yield %>

  <div class="favouriter clearfix">
    <%= favorite.producer_screen_names %>
  </div>
  <a href="#" class="add-to-favourites"><i class="icon-star"></i></a>
</li>