<li class="<%= content_type %>">
  <div class="author">
    <a href="#"><img src="https://twimg0-a.akamaihd.net/profile_images/1609143538/y_e0933b19_normal.jpg"></a>
    <span>
      <a href="#" class="name"><%= favorite.producer_names %></a><br>
      <a href="#" class="username">@user</a>
    </span>
  </div>

  <%= yield %>

  <div class="favouriter clearfix">
    <%= link_to("@#{favorite.user_screen_name}", favorite.user_url) %>
    <%= favorite.user_name %>
  </div>

  <a href="#" class="add-to-fawourites"><i class="icon-star"></i></a>
</li>